body{
  font-family: helvetica, arial, sans-serif
}
:focus {
outline: none;
}
career, year {
  display: block;
}
career{
  position: relative;
  display: block;
  white-space: nowrap;
  text-align: center;
}

career>*{
  vertical-align: top;
}

career>ul{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: auto;
}

.tools{
  display: inline-block;
  font-size: 30px;
  width: 35px;
  position: absolute;
  -webkit-transition: top 0.1s;
  transition: top 0.1s;
}
hr{

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 5px;
    border: none;
    border-top: 2px dashed MediumPurple;
}
.tools>button.fa {
  color: MediumPurple;
    display: block;
    text-align: center;
    outline: none;
}
.tools>button.fa.disabled {
  color: lavender;
  cursor: default;
}
.tools>button.fa-calendar-o,
.tools>button.fa-floppy-o{
  margin-top: 2px;
    font-size: 0.9em;
}

.tools>button.fa-folder-open-o,
.tools>button.fa-check
{
    font-size: 0.8em;
    margin-top: 2px;
}
.tools>button.fa-check {
  cursor: default;
}
.tools>button.fa.fa-check {
  color: Tomato ;
}
.tools>button.fa.fa-check.valid {
  color: PaleGreen;
}

career ul{
  list-style: none;
  padding: 0;
}
career>ul>li{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  min-width: 300px;
}
career>ul>li::after,
career>ul>li:first-child::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-image: -webkit-linear-gradient(top, lightgrey 80%, rgba(255, 255, 255, 0) 70%);
  background-image: linear-gradient(to bottom, lightgrey 80%, rgba(255, 255, 255, 0) 70%);
  background-position: right;
  background-size: 1px 20px;
  background-repeat: repeat-y;
  z-index: 6;
}
career>ul>li:first-child::before{
  left: 0;
  right: auto;
}
year>h2{
  padding: 10px;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

body::after{
  content: '';
  display:block;
  height: 80px;
  position: fixed;
  background: white;
  bottom: 0;
  width: 100%;
}
year::after{
  content: '';
  display:block;
  height: 100px;
}
year>div:last-child {
  margin-top: 15px;
  -webkit-transition: bottom 0.05s;
  transition: bottom 0.05s;
  left: 0;
  right: 0;
  position: absolute;
  padding-bottom: 20px;
  z-index: 5;
  background: white;
  border-top:  1px solid lightgrey;

}


year>div:last-child>div:last-child {
  font-size: 2em;
  margin-top: 5px;
}
year>div>.foursplit::after {
  content: '';
  display: table;
  clear: both;
}
year>div>.foursplit>*{
  width: 25%;
  box-sizing: border-box;
  border-right: 2px dashed lightgrey;
  float: left;
  text-align: center;
  line-height: 200%;
  height: 2em;
}
year>div>.foursplit>*:last-child{
  border-right: none;
}

year>ul {
  border-top:  1px solid lightgrey
}

course{

    padding: 5px 0;
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
course>*{
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  width: 0;
}
course>div{
  background-color: lavender;
  padding: 5px 2px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  position: relative;
  color: MediumPurple ;
  display: inline-block;
  height: 32px;
}
course:hover>div,
course>div:hover {
  background-color:  MediumPurple;
  color: lavender ;
  width: auto !important;
  padding: 5px;
  vertical-align: baseline;
}
course:hover>div a,
course>div:hover a{
  color: lavender ;
  /*text-decoration: underline;*/
  border-bottom: 1px dotted lavender;
  box-sizing: border-box;
  margin: 0  0 0 15px;
  height: 100%;
  display: inline;
}
course a {
  color: MediumPurple ;
  text-decoration: none;
  margin: 0 15px;
  display: block;
  height: 100%;
  line-height: 1.6em;
  text-overflow: ellipsis;
  font-size: 0.86em;
  overflow: hidden;
	white-space: nowrap;
}
course>div:hover a:hover {
  color: white ;

  border-bottom: 1px solid lavender;
}
course .studypoints {
  display: none;
  height: 15px;
  line-height: 15px;
  font-size: 0.9em;
  border-radius: 5px;
 background: Indigo    ;
   margin: 0 20px 0 5px;
  color: lavender;
  padding: 4px 6px ;
}

course:hover .studypoints{
  display:  inline;
}
course .studypoints sup {
  font-size: 0.8em;
  vertical-align: baseline;
}
button.fa {
  background: none;
  border: none;
}
course button.fa
{
  position: absolute;
  padding: 2px 5px 0;
  font-size: 15px;
  left: 0px;
  top: 0;
  bottom: 0;
  display: none ;
  color: lavender ;
}
course button.fa:hover
{
  color: white ;
}

course:hover button.fa
{
  display: block ;
}
course button.fa~button
{
  right: 0px;
  left:auto;
}
career>ul>li:first-child course button.fa:first-child{
  display: none !important;
}
career>ul>li:last-child course button.fa~button{
  display: none !important;
}
career>ul>li:last-child course .studypoints {
  margin-right: 5px;
}
button{
  cursor: pointer;
}
course>div.invalid{
  background-color: LightPink   ;
}

course>div.invalid *,
course:hover>div.invalid *{
  color: FireBrick  ;
}
course>div.invalid a:hover{
  color: black  ;
}

course>div.invalid .studypoints,
course>div.invalid .studypoints *{
  color: LightPink;
}
course:hover>div.invalid .studypoints{
  background-color: FireBrick ;
}

course>div.reqwrong {
  border: 2px solid Coral ;

  padding: 3px 0px;
}
course>div.reqgood {
  border: 2px solid ForestGreen  ;

  padding: 3px 0px;
}
course>div.lastyear{
    border-bottom: 1px solid MediumPurple     ;
  box-sizing: border-box;
  padding: 5px 2px 4px;
}
.exceedmaxsp {
  color:FireBrick;
}
.exceedmaxsp::after {
  content: " (max 72)";
  font-size: 0.5em;
  display: inline;
  position: absolute;
  -webkit-transform: translate(5px,12px);
          transform: translate(5px,12px);
}
.overlay {
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 15;
}
.overlay>* {
  position: absolute;
  left:50%;
  top: 50%;
  -webkit-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  display:block;
  z-index: 16;
  margin: 0;
}
.loaddialog {
  background-color: white;
  border: 2px solid lightgrey;
  padding: 20px;
}
.loaddialog .inputfile{
  display: none;
}
.loaddialog select,
.loaddialog .typeselector,
.loaddialog .inputfile+label,
.loaddialog button {
  font-size: 1em;
  padding: 10px;
    color: MediumPurple;
    background-color: lavender;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: block;
    width: 200px;
    text-align: center;
    margin: 10px 5px;
      -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none;
    white-space: nowrap;
    box-sizing:border-box;
}

.loaddialog button {

    color: lavender;
    background-color: ForestGreen;
}
.loaddialog .disabled {
  color: lightgrey;
  background-color: grey;
  cursor: default;
}
.loaddialog .inputfile:focus+label,
.loaddialog .inputfile+label:hover {
    background-color: MediumPurple;
    color:white;
}

.loaddialog h2{
  margin-top: 0;
}
.loaddialog .typeselector{
  padding: 0
}

.loaddialog .typeselector>*{
  padding: 10px;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  text-align: center;
    border-radius: 5px;
}
.loaddialog .typeselector>.selected{
  background-color: mediumpurple;
    color:white;
}
.credits {
  font-family: Arial;
  margin-top: 60px;
  font-size: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  letter-spacing: 0.3em;
  font-weight: bolder;
}
.credits *{
  margin:0;
  color: LightSlateGray  ;
}
.credits a{
  text-decoration: none;
}
.credits a:hover{
  border-bottom: 2px dotted LightSlateGray;
}
