body{
  font-family: helvetica, arial, sans-serif
}
:focus {
outline: none;
}
career, year {
  display: block;
}
career{
  position: relative;
  display: block;
  white-space: nowrap;
  text-align: center;
}

career>*{
  vertical-align: top;
}

career>ul{
  display: inline-flex;
  margin: auto;
}

.tools{
  display: inline-block;
  font-size: 30px;
  width: 35px;
  position: absolute;
  transition: top 0.1s;
}

.tools>button.fa {
  color: MediumPurple;
    display: block;
    text-align: center;
    outline: none;
}
.tools>button.fa.disabled {
  color: lavender;
  cursor: default;
}

.tools>button.fa.fa-check {
  font-size: 0.8em;
  margin-top: 2px;
  cursor: default;
}
.tools>button.fa.fa-check {
  color: Tomato ;
}
.tools>button.fa.fa-check.valid {
  color: PaleGreen;
}

career ul{
  list-style: none;
  padding: 0;
}
career>ul>li{
  flex-grow: 1;
  position: relative;
  min-width: 300px;
}
career>ul>li::after,
career>ul>li:first-child::before{
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to bottom, lightgrey 80%, rgba(255, 255, 255, 0) 70%);
  background-position: right;
  background-size: 1px 20px;
  background-repeat: repeat-y;
  z-index: 6;
}
career>ul>li:first-child::before{
  left: 0;
  right: auto;
}
year>h2{
  padding: 10px;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

body::after{
  content: '';
  display:block;
  height: 80px;
  position: fixed;
  background: white;
  bottom: 0;
  width: 100%;
}
year::after{
  content: '';
  display:block;
  height: 100px;
}
year>div:last-child {
  margin-top: 15px;
  transition: bottom 0.05s;
  left: 0;
  right: 0;
  position: absolute;
  padding-bottom: 20px;
  z-index: 5;
  background: white;
  border-top:  1px solid lightgrey;

}


year>div:last-child>div:last-child {
  font-size: 2em;
  margin-top: 5px;
}
year>div>.foursplit::after {
  content: '';
  display: table;
  clear: both;
}
year>div>.foursplit>*{
  width: 25%;
  box-sizing: border-box;
  border-right: 2px dashed lightgrey;
  float: left;
  text-align: center;
  line-height: 200%;
  height: 2em;
}
year>div>.foursplit>*:last-child{
  border-right: none;
}

year>ul {
  border-top:  1px solid lightgrey
}

course{

    padding: 7px 0;
  width: 95%;
  display: flex;
  margin: 0 auto;
}
course>*{
  flex-basis: 0;
  width: 0;
}
course>div{
  background-color: lavender;
  padding: 5px 2px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 6px;
  position: relative;
  color: MediumPurple ;
  display: inline-block;

}
course:hover>div,
course>div:hover {
  background-color:  MediumPurple;
  color: lavender ;
  width: auto !important;
  padding: 5px;
  vertical-align: center;
}
course:hover>div a,
course>div:hover a{
  color: lavender ;
  /*text-decoration: underline;*/
  border-bottom: 1px dotted lavender;

  margin: 0  0 0 15px;
  display: inline;
}
course a {
  color: MediumPurple ;
  text-decoration: none;
  margin: 0 15px;
  display: block;
  height: 1.5em;
  line-height: 1.6em;
  text-overflow: ellipsis;
  font-size: 0.86em;
  overflow: hidden;
	white-space: nowrap;
}
course>div:hover a:hover {
  color: white ;

  border-bottom: 1px solid lavender;
}
course .studypoints {
  display: none;
  height: 15px;
  line-height: 15px;
  font-size: 0.9em;
  border-radius: 5px;
 background: Indigo    ;
   margin: 0 20px 0 5px;
  color: lavender;
  padding: 4px 6px ;
}

course:hover .studypoints{
  display: inline-block;
}
course .studypoints sup {
  font-size: 0.8em;
  vertical-align: baseline;
}
button.fa {
  background: none;
  border: none;
}
course button.fa
{
  position: absolute;
  padding: 2px 5px 0;
  font-size: 15px;
  left: 0px;
  top: 0;
  bottom: 0;
  display: none ;
  color: lavender ;
}
course button.fa:hover
{
  color: white ;
}

course:hover button.fa
{
  display: block ;
}
course button.fa~button
{
  right: 0px;
  left:auto;
}
career>ul>li:first-child course button.fa:first-child{
  display: none !important;
}
career>ul>li:last-child course button.fa~button{
  display: none !important;
}
career>ul>li:last-child course .studypoints {
  margin-right: 5px;
}
button{
  cursor: pointer;
}
course>div.invalid{
  background-color: LightPink   ;
}

course>div.invalid *,
course:hover>div.invalid *{
  color: FireBrick  ;
}
course>div.invalid a:hover{
  color: black  ;
}

course>div.invalid .studypoints,
course>div.invalid .studypoints *{
  color: LightPink;
}
course:hover>div.invalid .studypoints{
  background-color: FireBrick ;
}

course>div.reqwrong {
  border: 2px solid Coral ;

  padding: 3px 0px;
}
course>div.reqgood {
  border: 2px solid ForestGreen  ;

  padding: 3px 0px;
}
course>div.lastyear{
    border-bottom: 1px solid MediumPurple     ;
  box-sizing: border-box;
  padding: 5px 2px 4px;
}
.exceedmaxsp {
  color:FireBrick;
}
.exceedmaxsp::after {
  content: " (max 72)";
  font-size: 0.5em;
  display: inline;
  position: absolute;
  transform: translate(5px,12px);
}
