
  <h2>Laad studietraject</h2>
  <div class="typeselector" (click)="filemode= !filemode" *ngIf="!mobile.mobileAndTabletcheck()">
    <span [class.selected]="!filemode">MDT</span><span [class.selected]="filemode">File</span>
  </div>

  <div *ngIf="!filemode">
    <select [(ngModel)]=selectedProgram>
      <option value="" *ngIf="!selectedMdt" >
        Opleiding
      </option>
      <option *ngFor="let mdt of mdtPrograms(); let i  = index" [value]="mdt.program" >{{mdt.program}}</option>
    </select>
    <select [(ngModel)]=selectedMdt [class.disabled]="!selectedProgram" >
      <option value="" *ngIf="!selectedMdt" >
        Afstudeerrichting
      </option>
      <option *ngFor="let mdt of filteredMdt(); let i  = index" [value]="mdt.objectId" >{{mdt.graduationprogram}}</option>
    </select>
    <button [class.disabled]="!selectedMdt" (click)="loadMdt()">Laad</button>
  </div>

  <div *ngIf="filemode">
    <input type='file' name='jsonfile' accept=".json" id="file" class="inputfile" (change)="onFileChange($event)" />
    <label for="file">{{filename}}</label>
    <button [class.disabled]="!filejson" (click)="loadFile()">Laad</button>
  </div>
