<div>
  <h2>Jaar {{year.order}}</h2>
  <div class="foursplit"><div *ngFor="let number of [1,2,3,4]">{{number}}</div></div>
</div>
<ul>
  <li *ngFor="let courseEl of year.courses">
    <course [course]="courseEl" [year]="year.order" [careerComponent]="careerComponent"
     (moveBackEvent)="moveCourseBack($event)" (moveForwardEvent)="moveCourseForward($event)"></course>
  </li>
</ul>
<div>
  <div class="foursplit"><div *ngFor="let number of [1,2,3,4]" [textContent]="getTotalPointsOfP(number)">0</div></div>
  <div [textContent]="getTotalPoints()" >0</div>
</div>
